*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    height: 100vh;
}
.result-box {
    width: 400px;
    height: 300px;
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 20px;
}

.result-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.result-content {
    font-size: 16px;
    color: #666;
}

.prediction-result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.prediction-title {
    font-size: 18px;
    color: #333;
}

.prediction-value {
    font-size: 24px;
    color: #009688;
}